# Database
MONGODB_URI=mongodb+srv://0325714988_db_user:jbxkX8On9Dktb7XH@almumeetusaikat.2nkstxi.mongodb.net/almumeetusaikat?retryWrites=true&w=majority&appName=almumeetusaikat


# NextAuth.js
NEXTAUTH_SECRET=N5rcO4JOiEkjlmzjUfN8xmJoV8QqVt6p2f2l/vqkpYU=
NEXTAUTH_URL=http://localhost:3000

# Admin Credentials
ADMIN_EMAIL=almumeetu@gmail.com
ADMIN_PASSWORD=223355

# Cloudinary (for image uploads)
CLOUDINARY_CLOUD_NAME=dnwqpdsl8
CLOUDINARY_API_KEY=773359427972532
CLOUDINARY_API_SECRET=-9G3fR5Ijko14urEibXu32DTj90

# Email Service (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=almumeetu@gmail.com
SMTP_PASS=nrfcocedlzdwopyh
EMAIL_FROM=noreply@almumeetu.com
